*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* fonts start */

@font-face {
	font-family: franklinGothic;
	src: url(fonts/FranklinGothic.ttf);
}

@font-face {
	font-family: itcFranklinGothic;
	src: url("fonts/ITC Franklin Gothic Book Regular.otf");
}

@font-face {
	font-family: cheltenhamBoldItalicHeadline;
	src: url("fonts/Cheltenham Bold Italic Headline.ttf");
}

@font-face {
	font-family: cheltenhamBookRegular;
	src: url("fonts/Cheltenham Book Regular.otf");
}

/* fonts end */


/* general start */

.georgia-font {
	font-family: 'Georgia';
}

.italic {
	font-style: italic;
}

.grey {
	color: grey;
}

body {
	font-family: "Franklin Gothic";
}

.mobile-toggle {
    display: none;
}

.mobile-toggle-reversed {
    display: block;
}

.cursor {
    cursor: pointer;
}

.relative {
    position: relative;
}

/* general end */

/* nav css start */

nav {
    border-bottom: 1px solid #e2e2e2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 20px;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: white;
	width: 100%;
}

nav div:last-child {
    justify-self: end;
}

#nyt-logo {
    height: 50px;
    width: auto;
}

#nyt-logo-container {
    justify-self: center;
    display: flex;
    align-content: center;
}

#left-nav {
    gap: 25px;
    align-items: center;
}

.flex {
    display: flex;
}

#left-nav a {
    text-decoration: none;
    color: black;
`	font-weight: bold;
}

#left-nav a:hover {
    text-decoration: underline;
}

#right-nav {
    gap: 5px;
}

button {
    color: white;
    border: 0;
    background-color: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    padding: 8px;
    font-size: 0.8rem;
    font-family: itcFranklinGothic;
}

input {
    padding: 6px 80px 6px 20px;
    border-radius: 3px;
    width: 210px;
}

button:hover {
    background-color: #326891;
}

.search-box-container {
    gap: 5px;
    align-items: center;
}

.clear-search {
    color: grey;
    font-size: 0.8rem;
    position: absolute;
    top: 30%;
    right: 10px;
}

.disabled-display {
    opacity: 0.5;
}

/* nav css end */

/* desktop view sidebar css start */

#desktop-view-sidebar {
    background: white;
    height: 100vh;
    width: 225px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
}

#desktop-view-sidebar a:not(.display-based-on-screen-height),
a.display-based-on-screen-height {
	font-weight: bold;
    text-decoration: none;
    color: black;
}

#desktop-view-sidebar a:not(.display-based-on-screen-height) {
    display: block;
}

a.display-based-on-screen-height {
    display: none;    
}

#desktop-view-sidebar a.flex {
	display: flex;
}

#desktop-view-sidebar a:not(:first-child) {
    margin-top: 10px;
}

.with-children {
    justify-content: space-between;

}

.sidebar-angle, hr {
    color: lightgrey;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}



#sidebar-side-box {
    min-height: 60px;
    background: white;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    left: 210px;
    z-index: 4;
    padding: 15px 25px;
	white-space: nowrap;
}

/*#sidebar-side-box:before*/ #thought-arrow-bubble {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;

    border-top: 10px solid transparent;
    border-bottom: 10x solid transparent; 
    border-right: 20px solid white; 

    left: -40px;
    /*top: 30px;*/
}

#thought-arrow-bubble-container {
    width: 100%;
    height: 100%;
    position: relative;
}

h5 {
    font-weight: normal;
    text-transform: uppercase;
    color: grey;
}

/* desktop sidebar css end */



/* mobile sidebar css start */

#mobile-view-sidebar {
	width: 100%;
	padding-top: 35px;
}

#mobile-view-sidebar a {
	display: block;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.mobile-links-divider {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#mobile-view-sidebar-inner-container {
	width: 60%;
	margin: auto;
	padding: 20px 0;
}

.mobile-links-divider {
	margin-top: 20px;
}

.mobile-link-section a:not(:first-child) {
	margin-top: 10px;
}

#mobile-view-links-container > div:not(:first-child) {
	margin-top: 30px;
}

aside .search-box-container input {
	width: 100%;
}

#mobile-view-search-container {
	margin-top: 10px;
}

#mobile-view-links-container {
	margin-top: 50px;
}

/* mobile sidebar css end */



/* main css start */

main {
	padding-top: 45px;
}

main h1 {
	font-family: cheltenhamBoldItalicHeadline;
	border-bottom: 1px solid lightgrey;
	font-size: 1.8rem;
	padding-bottom: 20px;
}

#main-header-container {
	width: 90%;
	margin: 0px auto 30px auto;
	padding-top: 0;
}

.circle i {
	font-weight: bold;
}

.circle {
	border-radius: 50%;
	background: lightgrey;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-actions {
	gap: 15px;
	align-items: center;
	margin-top: 20px;
}

.fa-bookmark,
.fa-comment {
	font-size: 2rem;
}

#subscribe-and-login-mobile-view {
	justify-content: flex-end;
	gap: 5px;
	padding: 0 10px;
	align-items: center;
}

#subscribe-and-login-mobile-view a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.7rem;
	color: rgb(50, 104, 145);
}

#main-image-container {
	width: 100%;
	margin: auto;
}

#main-image {
	width: 100%;
	display: block;
}

#main-header-container {
	padding-top: 30px;
}

.caption {
  	width: 80%; 
	padding: 0 10px;    
}

.caption,
.non-title-caption {
	color: #666;
	font-family: 'Times New Roman';
	margin-top: 10px;
	font-size: 0.9rem;
}

.caption-author {
	color: grey;
	font-size: 0.8rem;
	display: block;
	margin-top: 3px;
}

#author-name {
	border-bottom: 1px solid grey;
}

#publication-date {
	margin-top: 15px;
	font-size: 0.9rem;
}

#article-info {
	padding-bottom: 50px;
	margin-top: 40px;
}

.main-text {
	font-size: 1.2rem;
    line-height: 1.5;
}

.thin-margin {
	width: 92%;
	margin: auto;
}

#science-times-header {
	font-family: franklinGothic;
    font-size: 0.9rem;
}

#article-sign-up-btn {
    background: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    width: 100%;
}

#science-times {
    border-top: 1px solid grey;
    display: grid;
    grid-template-columns: 1.2fr 0.3fr;
    grid-gap: 20px;
    padding: 10px 5px 10px 0;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.thin-margin > .georgia-font {
    margin-top: 20px;
}

.text-link {
    color: #326891;
}

.text-link:hover {
    text-decoration: none;
}

#inflation-img-container {
    width: 92%;
    margin: 50px auto;
}

#inflation-img-container h3 {
    font-family: cheltenhamBookRegular;
}

#inflation-title-info {
    font-size: 0.9rem;
    margin-top: 5px;
}

.inflation-img {
    width: 100%;
    display: block;
}

#inflation-images {
    width: 100%;
    margin-top: 10px;
}

.inflation-img-desc {
    font-family: itcFranklinGothic;
    font-size: 0.8rem;
    margin-top: 5px;
}

.desc {
    margin-left: 10px;
}

#image-authors {
    font-family: itcFranklinGothic;
    font-size: 0.9rem;
}

iframe,
#main-text-misc-container img {
    width: 100%;
}

#main-text-misc-container {
    margin: 30px auto;
}

/* main css end */


@media screen and (min-height: 700px) {
    a.display-based-on-screen-height {
        display: block;
    }
}

@media screen and (min-width: 800px) {
	#main-header-container {
		width: 45%;
	}
	
	main h1 {
		font-size: 2.3rem;
	}
    
    .thin-margin {
        width: 45%;
    }
    
    #science-times {
        width: 100%;
        grid-template-columns: 1.2fr 0.2fr;
    }
    
    #inflation-img-container {
        width: 75%;
    }
    
    #inflation-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}


@media only screen and (min-width: 1000px) {
    #nyt-logo {
        width: 184px;
        height: auto;
    }
    
    .mobile-toggle {
        display: block;
    }   

    .mobile-toggle-reversed,
	#subscribe-and-login-mobile-view {
        display: none;
    }    
	
	#main-image-container {
		width: 70%;
	}
	
	.caption {
		font-size: 1.05rem;
		padding: 0;
		width: 83%;
	}
    
    .non-title-caption {
        width: 95%;
    }
	
	.caption-author {
		display: inline;
		font-size: 0.9rem;
	}
	
	#main-header-container  {
		padding-top: 100px;
	}
	
	main {
		padding-top: 0;
	}
}

.hidden {
    display: none;
}
